@layer components {
  dialog:not([open]) {
    display: none;
  }

  dialog {
    @apply fixed m-auto flex w-full max-w-sm flex-col gap-4 rounded-xl bg-background p-4 text-left text-sm text-foreground;

    box-shadow: 0 0 0 1px var(--border);
  }

  dialog::backdrop {
    background: oklch(0% 0 0deg / 50%);
    backdrop-filter: blur(2px);
  }

  dialog > header {
    @apply flex flex-col gap-2;
  }

  dialog > header > h1,
  dialog > header > h2,
  dialog > header > h3 {
    @apply text-base leading-none font-medium;
  }

  dialog > header > p {
    @apply text-sm text-muted-foreground;
  }

  dialog > footer,
  dialog > form > footer {
    @apply -mx-4 -mb-4 flex justify-end gap-2 rounded-b-xl border-t bg-muted/50 p-4;
  }

  dialog > form {
    display: contents;
  }
}
