@layer components {
  samp {
    @apply block max-h-40 overflow-y-auto text-xs text-muted-foreground;

    font-family: ui-monospace, monospace;
    line-height: 1.3;
  }

  samp > p {
    margin: 0;
    padding: 0.1rem 0;
  }

  samp > p:last-child {
    color: var(--foreground);
  }
}
